.heading{
	font-family: "Montserrat","Avenir";
	color: rgb(255,255,255);
	background-color: steelblue;
	padding-top:2px;
	height: 175px;
	text-transform: uppercase;
	transition: background 1.0s;
}
html {
   margin: 0px;
   height: 100%;
   width: 100%;
   padding: 0px;
   background-color: #232323;
   overflow: hidden;
}
.sq{
	width: 200px;
	height: 180px;
	float: left;
	margin-top: 1.66%;
	margin-left: 1.66%;
	border-radius: 20px;
	transition: background 1.0s;
	transition: opacity 1.0s;

}
.row{
	text-align: center;
    height: 30px;
    background-color: white;
}
.bt{
	border: none;
	height: 100%;
	width: 150px;
	font-weight: 700;
	color: steelblue;
	background-color: white;
	text-align: auto;
	border-color: white;
	transition: all 0.6s;
	text-transform: uppercase;
	outline: none;
}
#ps{
	font-weight: bold;
	
}
button:hover{
	color:white;
	background-color: steelblue;
}
.tog
{
	background-color: steelblue;
	color:white;
}
#ps{
	display: inline-block;
	width: 20%;
}
.reset{
	margin-left: 350px;
	margin-right: 20px;
}